{% extends 'base.html' %}
{% load static %}
{% block title %}
{% endblock %}


{% block content %}

 <!-- ========== Login & Registation Section ========== -->
  <section class="log-reg">
    <div class="top-menu-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <a href="{% url 'home' %}" class="backto-home"><i class="fas fa-chevron-left"></i> Back to Dreamnmatch</a>
          </div>
          <div class="col-lg-7 ">
            <div class="logo">
              <img src="{% static 'img/logo_white.png' %}" alt="logo">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-end">
        <div class="image">
        </div>
        <div class="col-lg-7">
          <div class="log-reg-inner">
            <div class="section-header">
              <h2 class="title">
                Welcome to DreamnMatch
              </h2>
              <p>
                Verify Email to change password
              </p>
            </div>
            <div class="main-content">
              <form method="POST">
                {% csrf_token %}
                <h4 class="content-title">Verify Email Address</h4>
                <div class="form-group">
                  <label for="">Email*</label>
                  <input type="text" name="email" placeholder="Email Address">
                </div>
                <button class="custom-button">Recieve Code</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ========== Login & Registation Section ========== -->


{% endblock %}