{% extends 'base.html' %}
{% load static %}
{% block title %}
{% endblock %}


{% block content %}

    <!-- ========== Login & Registation Section ========== -->
  <section class="log-reg">
    <div class="top-menu-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <a href="{% url 'home' %}" class="backto-home"><i class="fas fa-chevron-left"></i> Back to Dreamnmatch</a>
          </div>
          <div class="col-lg-7 ">
            <div class="logo">
              <img src="{% static 'img/logo_white.png' %}" alt="logo">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-end">
        <div class="image">
        </div>
        <div class="col-lg-7">
            <div class="main-content">
              <form id="paymentform" method="POST">
                {% csrf_token %}
                <h4 style="margin-top:20px;margin-bottom:20px;" class="content-title">Payment Details</h4>
                <div class="form-group">
                  <label for="">Email Address*</label>
                  <input type="email" name="Email" value="{{email}}" class="my-form-control">
                </div>
                <div class="form-group">
                  <label for="">Amount*</label>
                  <input type="text" name="Amount" value="{{amount}}" class="my-form-control">
                </div>

                <button type="submit" class="custom-button" >Go to Pay</button>
              </form>
            </div>
          </div>
        </div>
      </div>
  </section>

{% endblock %}